$darkBlue: hsl(209, 23%, 22%); // Dark Mode Elements
$veryDarkBlue: hsl(207, 26%, 17%); // Dark Mode Background
$veryDarkBlueText: hsl(200, 15%, 8%); // Light Mode Text
$darkGray: hsl(0, 0%, 52%); // Light Mode Input
$veryLightGray: hsl(0, 6%, 43%); // Light Mode Background
$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements

$fontItem: 14px;
$fontDetail: 16px;

// Body Copy - Homepage Items: 14px - Detail Page: 16px

// Fonts - Family: [Nunito Sans](https: //fonts.google.com/specimen/Nunito+Sans)
//    - Weights: 300, 600, 800

//- Mobile: 375px - Desktop: 1440px