@import url(https://fonts.google.com/specimen/Nunito+Sans:300,600,800);
@import 'topography';
@import 'mixins/mixins';

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
* {
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.main {
  @include mobile {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include mobile-x {
    padding: 25px;
  }
  @include tablet {
    padding: 25px 30px 30px 30px;
  }
  @include pc {
    padding: 30px 40px 40px 40px;
  }
}

.search-bar {
  @include mobile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    // align-self: flex-start;
  }
  @include mobile-x {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  @include tablet {
    justify-content: space-between;
    align-items: center;
  }
  @include tablet-x {

  }
  @include pc {

  }
  .search-bar {
      // display: block;
      width: 100%;
  }
  form {
    width: 100%;
    margin-bottom: 20px;
    @include border-radius;
    padding-left: 5px;
    @include mobile-x {
      margin-bottom: 0;
      width: 60%;
    }
    @include tablet {
      width: 50%;
    }

    input[type="text"] {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: none;
        padding: 5px 5px 5px 30px;
        @include box-shadow;

        &:focus {
            outline: none;
        }
    }

  }
  .input-group {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .search-filter {
    @include mobile {
      button {
          outline: none;
          padding: 10px;
          @include border-radius;
          @include box-shadow;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
              margin: 5px;
          }
      }
      .filter_list {
          padding: 0;
          position: absolute;
          z-index: 1;
          @include box-shadow;
          @include border-radius;
          width: 200px;
          margin-top: 3px;
          @include mobile-x {
            right: 25px;
          }
          @include tablet-x {
            right: 30px;
          }
          @include pc {
            right: 35px;
          }
          a {
              padding: 10px 0 10px 20px;
              display: block;
              &:hover {
                background: grey;
              }
          }
      }
    }
  }
}


.grid {
  @include mobile {
    align-self: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 80vw;
    row-gap: 30px;
    column-gap: 30px;
  }
  @include mobile-x {
    grid-template-columns: 1fr 1fr;
  }
  @include tablet-x {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include pc {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  a {
    // width: 100%;
  }
}

.country {

  @include mobile {
      display: flex;
      // justify-self: center;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 300ms ease-in-out;
      @include box-shadow;
      padding-bottom: 20px;
      .country-name {
          font-weight: 700;
          font-size: 18px;
          padding-left: 20px;
          margin-top: 20px;
          margin-bottom: 15px;
      }
      .country-text {
          font-size: 14px;
          padding: 5px 0 10px 20px;
          span {
              &:first-child {
                  font-weight: 600;
              }
          }
      }

      img {
        width: 100%;
      }
  }
}



::-webkit-input-placeholder {
    color: var(--placeholder-color)
}
.loader {
  -webkit-animation: loader 1000ms linear infinite;
  -moz-animation: loader 1000ms linear infinite;
  animation: loader 1000ms linear infinite;

  width: 30px;
  height: 30px;
  border: 3px solid #cccccc7a;
  border-top: 3px solid green;
  margin: 20px auto;
  border-radius: 100px,
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details {
    .back {
        margin-bottom: 3rem;
        a {
            outline: none;
            padding: 10px;
            @include border-radius;
            @include box-shadow;
            border: none;
            @extend %flex;
            justify-content: space-between;
            width: 6rem;
            // span {
            //     margin-left: 5px;
            // }
        }
        img {
          transform: rotateY(180deg);
          filter: invert(0);
        }
    }
  }

.search_details {
  padding: 30px 0 10px 0;
  font-weight: 600;
}

.details {
  @include mobile {
    padding: 20px;
  }
}
.details-content {
  @include mobile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    @include box-shadow;
    padding: 20px;
    margin-bottom: 3rem;
  }
  @include tablet {
    flex-direction: row;
  }
  @include pc {
    justify-content: space-between;
  }
}
.details-flag {
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 50%;
  }
  @include pc {
    width: 40%;
  }
  img {
    width: 100%;
    @include mobile {
      height: 200px;
    }
    @include mobile-x {
      height: 230px;
    }
    @include tablet {
      height: 250px;
    }
    @include pc {
      height: 300px;
    }
  }
}
.details-summary {
    margin-left: 20px;
    @include pc {
      width: 60%;
    }
    .country-name {
        font-weight: 700;
        font-size: 30px;
        @include mobile {
          margin-top: 40px;
        }
        @include tablet {
          margin-top: 0;
        }
    }
}
.country-info {
    display: flex;
    @include mobile {
      justify-content: flex-start;
      flex-direction: column;
    }
    @include tablet {
      justify-content: space-between;

    }
    align-items: flex-start;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
        li {
            padding: 10px 10px 10px 0;
        }
    }
}
// .border-countries {
//     flex-wrap: wrap;
//     justify-content: center;
//     .border-country-title {
//
//     }
// }

.border-countries {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .border-country-title {
        font-size: 15px;
        font-weight: 700;
        margin-right: 5px;
        width: 100%;
    }
    a {
        outline: none;
        padding: 5px 20px 5px 20px;
        @include border-radius(3);
        @include box-shadow;
        border: none;
        margin: 5px;
        font-size: 14px;
    }
}
