@import 'topography';
@import 'mixins/mixins';

.nav {
    @extend %flex;
    justify-content: space-between;
    height: 100px;
    @include mobile {
      padding: 20px;
    }
    @include mobile-x {
      padding: 30px;
    }

    .nav-title {

        font-weight: 700;
        font-size: 18px;
    }
    .toggle-mode-button {
        border: none;

        outline: none;
        cursor: pointer;
        @include mobile {
          font-size: 0.8rem;
        }
        @include mobile-x {
          font-size: 15px;
        }
        @extend %flex;
        justify-content: space-between;
        span {

            @include mobile {
              padding: 5px 3px 5px 0;
            }
            @include mobile-x {
              padding: 4px;
            }
        }
    }
}
@include desktop {
    .nav {
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav-title {

        font-weight: 700;
        font-size: 20px;
    }
}

.nav-title-color-dark {
    color: #000;
}
.nav-title-color-light {
    color: $white;
}

main {
  height: 100%;
}
